name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./app
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ secrets.IMAGE_NAME }}:latest
      - name: Deploy to EC2 via SSH and Fix Port Mapping
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "--- Starting Docker Compose Deployment ---"
            cd ~/devops-project || { echo "Directory not found"; exit 1; }
            sudo docker stop devops-app || true
            sudo docker rm -f devops-app || true
            sudo docker-compose pull
            sudo docker-compose up -d --remove-orphans
            sudo nginx -t && sudo systemctl restart nginx || true
            echo "--- Current Running Containers ---"
            sudo docker ps
            echo "--- Deployment Complete ---"
